@use './utilities' as *

.loading 
  text-align: center
  color: #f95587
  font-weight: bold
  font-size: 18px
  margin-top: 20px

.container-aside
    width: 400px
    height: 80%
    display: flex
    flex-direction: column
    align-items: center
    padding: 15px

    ul
        width: 75%
        height: 570px
        padding: 5px
        overflow-y: scroll

        @include mobile
            width: 100%
            display: flex
            justify-content: center
            flex-wrap: wrap
            gap: 5px

        &::-webkit-scrollbar
            width: 8px
            background: transparent
            border-radius: 20px
            box-shadow: inset 0 0 5px rgba(0,0,0,0.3)

        &::-webkit-scrollbar-thumb
            background: #00000042
            border-radius: 20px

    .container-filterType
        select
            width: 51%
            height: 40px
            font-size: 16px
            border: none
            border-radius: 10px
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.12)
            margin-bottom: 10px
            padding: 0 20px

            @include mobile
                height: 30px

            &:focus
                outline: none

.btn-topo
    display: none
    width: 50px
    height: 50px
    background-color: transparent
    color: #3185FC
    font-size: 40px
    font-weight: 600
    text-align: center
    text-decoration: none
    border: 1px solid #3185FC
    border-radius: 50%
    cursor: pointer
    position: fixed
    right: 5px
    bottom: 50px

    @include mobile
        display: inline

@include mobile
    .container-pesquisar
        width: 75%
        margin-left: 50px   
